.form__login{
    margin: 60px auto 140px;
    width: 40rem;
    border: 1px solid black;
    box-shadow: 0.75rem 0.75rem 0 -0.2rem moccasin ;
}

.form__register{
    margin: 60px auto 45px;
    width: 40rem;
    border: 1px solid black;
    box-shadow: 0.75rem 0.75rem 0 -0.2rem moccasin ;
}

.form__container{
    padding: 3rem 2rem 3rem 2rem;
}

.form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form__label{
    margin-bottom: 0.5rem;
}

.form__field{
    outline: none;
    border: none;

    border-bottom: 3px solid white;

    font-size: inherit;
    font-family: inherit;

    padding: 0.75rem 0.5rem;

    background: lightgrey;
}

.form__field:focus {
    border-bottom: 3px solid black;
}

.button--form {
    margin: 2rem 0 0 auto;
    padding: 0.75rem 3rem;
    border: none;
    background: moccasin;
}

.button--form:hover {
    background: goldenrod;
}

.form__small {
    font-size: 1.5rem;
    color: #595959;
}

.form__link {
    text-decoration: none;
    color: cadetblue;
}

.form__link:hover {
    color: #d05656;
}

.form__error {
    margin-top: 0.5rem;
}

.form__error, 
.form__flash {
    display: block;
    padding: 0.5rem;
    color: orange;
}

.form__error,
.form__flash--danger {
    background: red;
}

.form__flash {
    margin: 0.5rem;
}

.form__flash--success {
    background: green;
}