:root{
    --text-dark: black;
    --text-light: #fbf2f2;
    --text-muted: #595959;

    --main-background-color: rgb(71, 71, 71);
    --background-color: #fff;
    --accent-color: #f56565;
    --accent-color-2: #3bb54a;
    --tag-color: white;
    --tag-color-border: rgb(102, 102, 102);

    --border: 3px solid black;
}

:root.dark-mode{
    --text-dark: #fbf2f2;
    --text-light: black;
    --text-muted: #595959;

    --main-background-color: rgb(192, 192, 192);
    --background-color: rgb(52, 52, 52);
    --accent-color: #f56565;
    --accent-color-2: #3bb54a;
    --tag-color: rgb(52, 52, 52);
    --tag-color-border: white;

    --border: 3px solid white;
}

.button{
    --background-color: #e2e8f0;
    --background-color-hover: #bdd1eb;
}

.form__field{
    --background-color: #e8e5e5;
}

.form__field,
.nav__link{
    --border: 3px solid #f56565;
}

html{
    font-size: 12px;
}

@media screen and (min-width: 60em){
    html{
        font-size: 14px;
    }
}

@media screen and (min-width: 75em){
    html{
        font-size: 18px;
    }
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Noto-sans", sans-serif;
    color: var(--text-dark);
    line-height: 1.45;
    background-color: var(--background-color);
}

.button{
    display: block;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    /* transition: background 0.1s ease-in; */
}

.link{
    text-decoration: none;
    color: var(--accent-color);
    white-space: nowrap;
}

.link:hover{
    text-decoration: underline;
}

/* Header Stylings */

.header{
    padding: 0 2rem;
    border-bottom: var(--border);
}

.header__logo{
    display: flex;
    align-items: center;
    height: 4rem;
    color: inherit;
    text-decoration: none;
}

.header__logo:hover{
    color: var(--accent-color)
}

.logo__name{
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.logo__icon{
    height: 2.5rem;
    width: 2.5rem;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
}

.nav{
    display: flex;
}

.nav__link{
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-decoration: none;
    color: inherit;
}

.nav__link--active{
    background-color: var(--accent-color);
    color: var(--text-light);
}

.nav__link:not(:last-child){
    margin-right: 1rem;
}

.nav__link:hover{
    margin-bottom: -3px;
    border-bottom: var(--border);
}

.nav__item{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav__icon{
    height: 1em;
    width: 1em;
}

/* Footer Stylings */

.footer{
    padding: 1rem 0;
    color: var(--text-muted);
    text-align: center;
}

/* Main Stylings */

.main{
    flex-grow: 1;
    padding: 0.5rem 1rem 0 1rem;
}