/* body {
    background: radial-gradient(black, transparent);
} */
.main-body-content{
    background-color: lightgray;
    height: 1430px;
}
.image-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.image-container > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.main-content {
    width: 101%;
    height: 733px;
    margin-top: -122px;
    position: absolute;
    padding: 0px 35px;
}
.main-content-child {
    float: left;
}
.sidebar > img {
    width: 257px;
    height: 350px;
}
.sidebar {
    /* margin-top: 142px; */
    width: 28%;
    height: 58em;
    padding: 1.8%;
    background: #fff;
    border: 2px solid #5b695b;
    border-radius: 5px;
}
.custom-heading {
    font-size: 1.5rem;
    color: #3a3b45!important;
    font-weight: 700!important;
    line-height: 1.2;
}
.text-body{
    font-family: 'Be Vietnam',sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796 !important;
    text-align: left;
}
.right-content {
    width: 67%;
    padding: 3px 29px;
    margin-left: 43px;
    background: #fff;
    border: 2px solid #5b695b;
    border-radius: 5px;
}
h3.large-heading{
    color: #3a3b45!important;
    font-size: 2.75rem;
}
.share-btn{
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
    padding: 10px 25px;
}
.share-btn > span{
        font-weight: bolder;
}
.main-heading {
    width: 70%;
}
.heading-share {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.second-section {
    margin-top: 20px;
    min-height: 692px;
}
.tab-content {
    margin-top: 29px;
}
.tab-button {
    background: none;
    font-weight: 700;
    border: none;
    color: #333545;
    display: inline-block;
    position: relative;
    padding: 0 11px 11px 0;
    bottom: -17px;
}
.border-div{
    border-bottom: 1px solid grey;
    margin-top: 17px;
}
button:hover {
    background-color: transparent;
}
button:focus, button:active {
    outline: transparent;
    outline: transparent;
    border-bottom: 3px solid red;
}
.custom-col , .staff-column {
    width: 33%;
    float: left;
}
.custom-col > h2 , .staff-column > h2 {
    color: #3a3b45 !important;
    font-weight: 700 !important;
    font-size: 1.7rem;
    margin-top: -9px;
}
.column-container .cast_display {
    text-decoration: none;
    width: 100%;
    float: left;
    margin-top: 15px;
}
.column-container .thumb-image > img, .user-image > img {
    width: 50px !important;
    height: 60px !important;
    border-radius: 50%;
}
.column-container {
    float: left;
    width: 33%;
}
.thumb-image {
    float: left;
    width: 33%;
}
.heading-container {
    float: left;
    width: 50%;
    margin-top: 6px;
}
.heading-container .title {
    color: #4e73df;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
}
.heading-container .profession {
    color: #b7b9cc!important;
    font-size: 1rem;
}
.video-frame {
    float: left;
    margin: 15px;
}
.user-image {
    width: 10%;
    float: left;
}
.review-content {
    width: 85%;
    float: left;
}
.review-header, .review-body {
    display: inline-block;
    width: 100%;
}
h2.customer-name {
    font-size: 2rem;
    float: left;
    color: #3a3b45!important;
    margin: 4px;
}
.review-date > img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.review-date {
    float: left;
}
.review-stars {
    float: right;
}
.review-stars > img {
    width: 15px;
    height: 15px;
}
.review-body {
    color: #858796;
    font-family: 'Be Vietnam',sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
}
.rating-figure {
    float: right;
    margin-left: 6px;
    margin-top: 2px;
    background: #f6c23e!important;
    padding: 0 6px;
    border-radius: 12px;
}
div#Reviews {
    margin-top: 0px;
}
.review-users {
    display: inline-block;
    margin-top: 25px;
}
a.share-btn:hover {
    color: #fff !important;
    text-decoration: none;
}
.staff-container {
    width: 100%;
    float: left;
}