{% macro display_featured(feature_movies) %}
    {% for movie in feature_movies %}
        <div class="slides_img fade" style="background-image: url({{ movie.url }});">
            <a href="{{ url_for('movie_route.movie', id=movie.movie_Id) }}" target="_self"> 
                <img src={{ movie.url }} class="movie__poster_link" height="650px"> 
            </a>
        </div>
    {% endfor %}
{% endmacro %}

{% macro display_feature_dot(feature_movies) %}
    {% for i in range(feature_movies|length) %}
        <span class="dot" onclick="currentSlide(i+1)"></span>
    {% endfor %}
{% endmacro %}