{% from "macros/nav.jinja2" import header %}
{% from "macros/footer.jinja2" import footer %}

<!DOCTYPE html>
<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--loading google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ysabeau&display=swap" rel="stylesheet">

        <!--loading static css files-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />

        <title>{{ title | default('Movie Watchlist')}}</title>

        {% block header_content %}
        {% endblock %}
    </head>
    <body>
        {{ header(session.get("email"), session.get("theme")) }}
        <main class="main">
            {% block main_content %}
            {% endblock %}
        </main>
        {{ footer() }}
    </body>
</html>